/.cpcache/
/.shadow-cljs/
/.nrepl-port
/node_modules/
/public/js/
/public/acme/js/
/public/vendor/
/public/hyperframes/
/public/e2e/
/target/
/dist/
.DS_Store

/.clj-kondo/.cache/
/.clj-kondo/imports/
/.lsp/
/.dev/
